<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="Background">
    <div class="container">
        <div class="box">
            <h2>Look for a book</h2>
            <div class="row">
                <input type="text" id="input-box" placeholder="Find your book">
            </div>
            <button class="find-button" >Find Book</button>
        </div>
    </div>
    <div class="social-media">
        <ul>
           <li><i class="fa fa-facebook" aria-hidden="true"></i></li> 
           <li><i class="fa fa-instagram" aria-hidden="true"></i></li> 
           <li><i class="fa fa-twitter" aria-hidden="true"></i></li> 
        </ul>
      </div>
</div>
    
